/* html, body {
  margin: 0;
  padding: 0;
  background: transparent
} */

/* Контейнер, который центрируется по горизонтали и имеет минимальную высоту равную высоте экрана */



/* Стили для главного изображения */
#main-img {
  width: 100%;
  aspect-ratio: 16/9;          
  overflow: hidden;
  margin-bottom: 2rem;
}

#main-img img {
  width: 100%;       
  height: 100%;      
  object-fit: cover; 
}

@media(max-width: 768px) {
  #main-img {
    aspect-ratio: 4/3;
  }
}
@media(max-width: 480px) {
  #main-img {
    aspect-ratio: 3/2;
  }
}
