/* html, body {
  margin: 0;
  padding: 0;
  background: transparent
} */

/* Контейнер, который центрируется по горизонтали и имеет минимальную высоту равную высоте экрана */



/* Стили для главного изображения */
#main-img {
  width: 100%;       /* Ширина контейнера */
  height: 800px;     /* Высота контейнера */
  overflow: hidden;  /* Скрывает выходящее за пределы изображение */
}

#main-img img {
  width: 100%;       /* Изображение заполняет контейнер по ширине */
  height: 100%;      /* Изображение заполняет контейнер по высоте */
  object-fit: cover; /* Изображение обрезается, чтобы заполнить контейнер */
}
