/* .main{
    height: 1080px;
} */

/* #main-img{
    width: 100%;
    height: 600px;
    text-align: center;
}

.courses{
    width: 100%;
    height: 600px;
    text-align: center;
}

#why-we{
    width: 100%;
    height: 600px;
    text-align: center;
}

#price{
    width: 100%;
    height: 600px;
    text-align: center;
}

.footer{
    width: 100%;
    height: 600px;
    text-align: center;
} */